
  <div class="cover-text">
    <h2 class="text-center">Listing All articles</h2>
    <p class="text-center"><%= link_to 'Create New Article', new_article_path, class: 'btn btn-success btn-md' %></p>
  </div>
  
  <%= render 'article', obj: @articles %>
  
  