
<h2 class="text-center">Listing All articles</h2>
  
  <div class="center">
    <%= will_paginate %>
  </div>
  
    <%= render 'article', obj: @articles %>

  <div class="center">
    <%= will_paginate %>
  </div>
  
  