<html>
  <body>
  <div class="container" font-family="arial">
  <div class="cover">
    <div class="cover-text">
        <h1>About AlphaBlog</h1>
        <p>You have landed to the perfect place to get all information of your need.</p>
        <p><%=  link_to 'Learn more', '#', class: 'btn btn-primary btn-lg' %></p>
        <p class = "lead">Want to receive email for updates? Please Sign Up in mailing list.</p>
      <div class="form-group">
        <input type="emal" placeholder="emal@example.com" class="form-control">
      </div>
      <divclass="form-group">
        <%=  link_to 'Sign Up', '#', class: 'btn btn-success btn-lg' %>
      </div>
   </div>
  </div>
 </body>
</html>