<div class="cover" font-family= "arial">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="cover-text footer-text">
        <h1>Welcome to Alpha Blog</h1>
        <div class="form-group">
          <p><%=  link_to 'Sign Up Now', signup_path, class: 'btn btn-danger btn-lg btn-xlg' %></p>
        </div>
      </div> 
    </div>
  </div>
</div>
