<div class="jumbotron cover">
  <h1>Welcome to Alpha Blog</h1>
  
  <div class="form-group center">
    <p><%=  link_to 'Sign Up Now', signup_path, class: 'btn btn-danger btn-lg btn-xlg' %></p>
  </div>
</div> 
  

