$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  }

#logo:hover {
  color: #fff;
  text-decoration: none;
  }
// Nav Styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.nav-style li{
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  font-family: arial, helvetica ;
  
}
.badge {

background-color: #CEF6F5;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

.input_checkbox input {

width: auto !important;

}

.center {
  text-align: center;
  }

.jumbotron {
  background-image: asset-url('profile_picture.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  }
  
.cover-text {
    text-align: center;
    margin: 10px;
    padding: 20px;
    vertical-align: top;
    }
.cover-text-footer {
    text-align: center;
}
.cover-text-footer ul li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 10px;
    }

.cover-text ul li a {
    color: white;
}
.flash-container {
    position: absolute;
    width: 100%;
    }
.cover-text h1 {
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: -1px;
    }

.btn-xlg {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 80px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
.footer-text {
  color: #fff;
 } 
 
 .user-name {
    font-weight: bold;
    font-size: 1.5em;
}
.user-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.body-user {
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.article-meta-details {
    border: 1px solid #eaeaea;
    padding-top: 15px;
}
.listing {
    list-style: none;
    padding-left: 0;
}

