<! footer -->
<footer class="nav navbar-inverse navbar-fixed-bottom">
  <div class="cover-text">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
       <li><%= link_to 'About Us', about_path %></li>
      <li><%= link_to 'List of Articles', articles_path %></li>
      <li><%= link_to 'Create New Article', new_article_path %></li>
    </ul>
    <h5>Thank you for visiting</h5>
    crafted with &hearts; in calgary by <a http= "//guarded-tundra-34404.herokuapp.com/">Mohammad Ali</a>
    <small> &copy; 2017 - M Liaquat Ali </small>
  </div>
</footer>