<! footer -->
<footer class="nav navbar navbar-inverse ">
    <div class="cover-text-footer">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
         <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <div class="footer-text">
        <h5>Thank you for visiting</h5>
        crafted with &hearts; in calgary by <a http= "#">Mohammad Ali</a>
        <small> &copy; 2017 - M Liaquat Ali </small>
      </div>
    </div>
</footer>